.logo {
    display: inline-block;
    z-index: 10;
    max-width: clamp(7.188rem, 10.268vw + 5.134rem, 14.375rem);
    max-height: clamp(1.75rem, 2.5vw + 1.25rem, 3.5rem);
}

.logo_big {
    max-width: 325px;
    max-height: 80px;
}

/*//======================================================================================================================================================== */

.button {
    display: inline-flex;
    justify-content: center;
    background-color: #FFD166;
    border-radius: 16px;
    padding: 16px 78px;
    font-family: 'Manrope-ExtraBold', sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #0C0A09;
    transition: all 0.3s ease;
}

@media (max-width: 540px) {
    .button {
        min-width: 100%;
    }
}

@media (hover: hover) {
    .button:hover {
        background-color: #fdc014;
    }
}

.button:active {
    background-color: #ffebb4;
}

/*//======================================================================================================================================================== */

.title {
    font-family: 'Manrope-Medium', sans-serif;
    font-weight: 500;
    font-size: clamp(2rem, 1.4286rem + 2.8571vw, 4rem);
    line-height: 120%;
}

.text {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
    line-height: 130%;
}

.note {
    font-size: 17px;
    line-height: 130%;
    color: #FAFAFA;
}

.note span {
    margin-left: 8px;
}