.swiper-block {
    position: relative;
}

.swiper {
    display: flex;
    max-width: 720px;
    width: 100%;
    height: auto;
    margin: 0;
}

.swiper-wrapper {
    box-sizing: content-box;
}

.swiper-slide {
    display: flex;
    padding: 31px 0;
    position: relative;
    cursor: pointer;
}

@media (max-width: 1130px) {
    .swiper-slide {
        padding: 0;
        background-color: #EEC360;
        border-radius: 28px;
        align-items: flex-start;
        flex-direction: column;
    }
}

.swiper__text {
    display: flex;
    align-items: center;
    font-size: 19px;
    line-height: 130%;
    color: #000000;
    background-color: #EEC360;
    padding: 74px 267px 74px 43px;
    border-radius: 28px;
    min-height: 480px;
    font-family: 'Manrope-Medium', sans-serif;
}

@media (max-width: 1130px) {
    .swiper__text {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 16px;
        padding: 20px 16px;
        min-height: unset;
        justify-content: flex-start;
    }
}

.swiper__title {
    font-family: 'Manrope-ExtraBold', sans-serif;
    font-size: 24px;
    line-height: 130%;
    display: block;
    color: #1C1917;
    max-width: 250px;
}

@media (min-width: 1130px) {
    .swiper__title {
        display: none;
    }
}

.swiper__image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 302px;
    max-height: 542px;
}

@media (max-width: 1130px) {
    .swiper__image {
        display: none;
    }
}

.swiper-button-prev, .swiper-button-next {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #FFD166;
    top: -70px;
    right: 0;
    left: unset;
}

@media (max-width: 1130px) {
    .swiper-button-prev, .swiper-button-next {
        width: 36px;
        height: 36px;
        background-color: #FAFAF9CC;
        top: 40px;
        right: 20px;
    }
}

.swiper-button-prev:active, .swiper-button-next:active {
    background-color: #e7b848;
}

.swiper-button-prev {
    right: 80px;
}

@media (max-width: 1130px) {
    .swiper-button-prev {
        right: 75px;
    }
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/sliderImages/arrow.svg") center no-repeat;
    width: 24px;
    height: 20px;
}

@media (max-width: 1130px) {
    .swiper-button-prev::after, .swiper-button-next::after {
        background: url("../images/sliderImages/arrowMobile.svg") center no-repeat;
        width: 20px;
    }
}

.swiper-button-next::after {
    transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    background: transparent;
}
